.albumSize{
    height: 20px;
    width: 20px;
}
.dropdown-form {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .menu-button {
    margin: 10px;
  }
  
  .main-menu {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .menu-icon {
    margin-right: 5px;
  }
  
  .submenu {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .checkbox {
    margin: 0;
  }
  
  .submit-button {
    align-self: flex-end;
  }
  .size{
    height: 15px;
    width: 15px;
  } 