.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.wrapper {
	max-width: 75rem;
	width: 100%;
	padding: min(3rem, 5vw);
}

form {
	padding: 1.5rem;
	background-color: rgba(245, 245, 245);
	border-radius: 0.5rem;
}

legend {
	font-weight: 700;
}

fieldset > * + * {
	margin-top: 0.5rem;
}

form > * + * {
	margin-top: 1.5rem;
}

.form__group {
	display: flex;
	align-items: center;
}

mat-card{
    width: 100%;
    background-color: rgba(245, 245, 245);
}
textarea{
    width: 100%;
}



