<!-- <mat-toolbar color="primary" class="app-header">
    <div><a href="https://www.positronx.io" target="_blank" class="positronx">Photo Shearing</a></div>
    <span class="nav-tool-items">
      <a mat-button  routerLinkActive="active">Log in</a>
      <a mat-button  routerLink="" routerLinkActive="active">Register</a>
    </span>
  </mat-toolbar>
  <div class="login_section" fxLayout="row" fxLayoutAlign="center center">
    <div class="wrapper relative">
      <div class="heading-top">
        <div class="logo-cebter">
          <a href="#"><img src="assets/at your service_banner.png"></a>
        </div>
      </div>
      <mat-card class="box">
        <div class="outer_div">
          <mat-card-header>
            <mat-card-title><h2>Reset <span>Password</span></h2></mat-card-title>
          </mat-card-header>
          <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
            <mat-card-content>
              <mat-form-field class="form-group">
                <mat-label>New password</mat-label>
                <input type="newPassword" matInput formControlName="newPassword" placeholder="">
                <mat-hint class="errormsg" *ngIf="resetForm.get('newPassword')?.hasError('required') && resetForm.get('newPassword')?.touched">
                  *newPassword is required.
                </mat-hint>
                <mat-hint class="errormsg" *ngIf="resetForm.get('newPassword')?.hasError('minlength') && resetForm.get('newPassword')?.touched">
                  *newPassword must be at least 6 characters long.
                </mat-hint>
              </mat-form-field>
            </mat-card-content>
            <button class="btn_login">Reset</button> 
          </form>
        </div>
      </mat-card>
    </div>
  </div> -->
 
  <div class="login_section">
  <div class="wrapper relative">
    <div style="display:none" class="meassage_successful_login">You have Successfull Edit </div>
    <div class="heading-top">
      <div class="logo-cebter"><a href="#"><img src="assets/at your service_banner.png"></a></div>
    </div>
    <div class="boxresetP">
      <div class="outer_div">

        <h2>Reset <span>Password</span></h2>

        <form class="margin_bottom" style="margin-top: 10px;" [formGroup]="resetForm" (ngSubmit)="resetPassword()" role="form">
          
          <mat-form-field appearance="fill" class="form-group">
            <mat-label for="exampleInputPassword1">New Password</mat-label>
            <input matInput type="password" id="exampleInputPassword1" formControlName="newPassword" class="form-control">
            <mat-hint class="errormsg" *ngIf="resetForm.get('newPassword')?.hasError('required') && resetForm.get('newPassword')?.touched">
              *newPassword is required.
            </mat-hint>
            <mat-hint class="errormsg" *ngIf="resetForm.get('newPassword')?.hasError('minlength') && resetForm.get('newPassword')?.touched">
              *newPassword must be at least 6 characters long.
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-group">
            <mat-label for="exampleInputPassword1">Confirm Password</mat-label>
            <input matInput type="password"  formControlName="confirmPassword" class="form-control">
            <mat-hint class="errormsg" *ngIf="resetForm.get('confirmPassword')?.hasError('passwordMismatch') && resetForm.get('confirmPassword')?.touched">
              *Passwords do not match.
            </mat-hint>
          </mat-form-field>
         
          <div class="forgot-password-link">
          <button type="submit" [disabled]="resetForm.invalid" class="btn_login">Reset</button>
        </div>
        
          
        </form>
        
      </div>
    </div>
  </div>
</div>
